body {
  background-color: rgb(134, 154, 185);
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
  color: white;
  margin-top: 5rem;
}

form {
  background-color: rgb(168, 255, 226);
  padding: 20px;
  margin: 1rem;
  border-radius: 10px;
}

label {
  font-weight: bold;
  color: rgb(189, 41, 41);
  margin-right: 10px;
}

input {
  padding: 10px;
  margin: 10px;
  border-style: dashed;
  color: rgb(15, 78, 42);
  transition: 0.3s;

}

input:focus {
  background-color: rgb(189, 41, 41);
  color: white;
  padding: 2rem;
  font-size: x-large;
  transition: 1s;
  !important;
}

.label {
  display: inline-block;
  width: 6rem;

}

.boton {
  background-color: rgb(189, 41, 41);
  color: white;
  padding: 1rem;
  border-radius: 10px;
  margin-top: 2rem;
  transition: 0.3s;
}

.boton:hover {
  background-color: rgb(15, 78, 42);
  cursor: pointer;
  font-size: 3rem;
  font-weight: bold;
  transition: 1s;
  padding: 5rem;
}

#nombre {
  width: 20rem;
}

#email {
  width: 19rem;
}

#edad {
  width: 5rem;
  border-style: dotted;
}